button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: none;
}

.pb-container {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.pb-container .pb-button {
  padding: 0.7em 1em;
  width: 100%;
  height: 54px;
  outline: none;
  background: transparent;
  color: currentColor;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s, border-radius 0.3s;
  -webkit-tap-highlight-color: transparent;
}
.pb-container .pb-button > span {
  display: inherit;
  font-weight: 100;
  font-size: 2em;
  transition: opacity 0.3s 0.1s;
}
.pb-container .pb-button > svg {
  position: absolute;
  width: 54px;
  height: 54px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.pb-container .pb-button > svg path {
  opacity: 0;
  fill: none;
}
.pb-container .pb-button svg.pb-progress-circle {
  animation: spin 0.9s infinite cubic-bezier(0.085, 0.260, 0.935, 0.710);
}
.pb-container .pb-button svg.pb-progress-circle path {
  stroke: currentColor;
  stroke-width: 5;
}
.pb-container .pb-button svg.pb-checkmark path,
.pb-container .pb-button svg.pb-cross path {
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 4;
}
.pb-container.disabled .pb-button {
  cursor: not-allowed;
}
.pb-container.loading .pb-button {
  padding: 0;
  width: 54px;
  border-width: 6.5px;
  border-color: #ddd;
  background-color: transparent;
  color: #142434;
  cursor: wait;
}
.pb-container.loading .pb-button span {
  display: none;
  opacity: 0;
  transition: all 0.15s;
}
.pb-container.loading .pb-button .pb-progress-circle > path {
  opacity: 1;
  transition: opacity 0.15s 0.3s;
}
.pb-container.success .pb-button {
  border-color: #A0D468;
  background-color: #A0D468;
}
.pb-container.success .pb-button span {
  display: none;
  opacity: 0;
  transition: all 0.15s;
}
.pb-container.success .pb-button .pb-checkmark > path {
  opacity: 1;
}
.pb-container.error .pb-button {
  border-color: #ED5565;
  background-color: #ED5565;
}
.pb-container.error .pb-button span {
  display: none;
  opacity: 0;
  transition: all 0.15s;
}
.pb-container.error .pb-button .pb-cross > path {
  opacity: 1;
}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
    transform-origin: center center;
  }
}

.iu-container {
	box-sizing: border-box;

	& * {
		box-sizing: border-box;
		outline: none;
	}
	&.disabled {
		& .iu-loadContainer {
			color: #bec3c7;
			cursor: not-allowed;

			& > div:not(.deletePreview) {
				background: transparent !important;
			}
			& .pseudobutton {
				& * {
					cursor: not-allowed;
				}
			}
			& .pseudobuttonContent {
				color: #bec3c7 !important;
			}
		}
		& .iu-label {
			color: #bec3c7;
			cursor: not-allowed;
		}
		& .iu-deletePreview {
			color: #bec3c7;
			cursor: not-allowed;
		}
	}
}

.iu-imgPreview {
	position: relative;
	display: inline-block;
	margin: 5px 10px 5px 0;
	width: 100px;
	height: 100px;
	border: #bec3c7 1px solid;
	border-radius: 10px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	vertical-align: bottom;
}

.iu-deletePreview {
	position: absolute;
	top: 2px;
	right: 2px;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	border: #bec3c7 1px solid;
	border-radius: 50%;
	background: #fff;
	color: #2c3e50;
	font-size: initial;
	cursor: pointer;
}

.iu-fileInput {
	display: inline-block;
}

.iu-emptyPreview {

}

.iu-filesInputContainer {
	display: inline-block;
	margin: 5px 10px 5px 0;
	vertical-align: bottom;
}

.iu-loadContainer {
	position: relative;
	overflow: hidden;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	cursor: pointer;

	& .iu-pseudobutton span {
		height: 100%;

		& .iu-imgPreview {
			margin: 0;
		}
	}
	& > div:not(.iu-deletePreview) {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100% !important;
		height: 100% !important;
		border: #bec3c7 1px solid !important;
		border-radius: 10px !important;

		&:hover {
			background-color: rgb(238, 238, 238);
		}
	}
}

.iu-label {
	display: block;
	color: #bec3c7;
	letter-spacing: 0.07em;
	font-size: 11px;
	cursor: pointer;
}

.iu-pseudobutton {
	margin-top: 0;
	width: 100px;
	height: 100px;

	&:global.loading, &:global.success, &:global.error {
		width: 100% !important;
		height: 100% !important;
	}
	& :global button.pb-button {
		box-sizing: content-box;
		padding: 0;
		width: 100%;
		height: 100%;
		border: none;
		background: transparent;
		box-shadow: none;
		-webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;

		& span {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.iu-pseudobuttonContent {
	color: #2c3e50 !important;
	font-weight: 300 !important;
	font-size: 50px !important;
	line-height: 1 !important;
}

.iu-notification {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}
