body
	background: url(./images/bg.jpg)

#root
	max-width: 420px
	margin: 120px auto
	border-radius: 0px
	background-color: #FFF
	border-top: 1px solid #FFF
	border-bottom: 10px solid #F5F5F5
	border-top: 5px solid rgba(#083b2d, 0.76)
	padding: 10px
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2)

.examples-ul
	margin: 0
	padding: 0
	li
		list-style: outside none none
		a
			padding: 8px 8px 8px 14px
			display: block
			text-decoration: none
			color: #333
			border-top: 1px solid #EEE
			border-bottom: 1px solid #EEE
			margin: -1px -10px
			cursor: pointer
			font-size: 14px
			outline: medium none currentcolor
			transition: all 0.2s ease-in-out 0s
			&:hover
				background-color: #F6F6F6
				text-decoration: none
